/*  Fonts
-----
font-family: 'Lora', serif;
font-family: 'Ubuntu', sans-serif;
*/

nav ul {
  border: 1px solid red;
  list-style: none;
  display: flex;
  padding: 0;
}

nav li {
  border: 2px solid yellow;
  margin: 0 1em;
}

nav a {
  border: 3px solid green;
}

nav a:hover {
}
